wsPerfilamientoCliente.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="wsPerfilamientoCliente" targetNamespace="http://service.claro.com.co/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://service.claro.com.co/"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://service.claro.com.co/" xmlns:ns0="http://service.claro.com.co/">
            <xsd:complexType name="adicionarServicio">
                <xsd:sequence>
                    <xsd:element name="requestAdicionarServicios" type="ns0:requestAdicionarServicios" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="adicionarServicioResponse">
                <xsd:sequence>
                    <xsd:element name="adicionarResponse" type="ns0:responseAdicionarServicios" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultaProductos">
                <xsd:sequence>
                    <xsd:element name="tipoDoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numDoc" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultaProductosListados">
                <xsd:sequence>
                    <xsd:element name="tipoDoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numDoc" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultaProductosListadosResponse">
                <xsd:sequence>
                    <xsd:element name="ProductosListado" type="ns0:responseProductosListado" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultaProductosResponse">
                <xsd:sequence>
                    <xsd:element name="Productos" type="ns0:responseProductosYServicios" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultaBiograficos">
                <xsd:sequence>
                    <xsd:element name="tipoDoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numDoc" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultaBiograficosResponse">
                <xsd:sequence>
                    <xsd:element name="Biograficos" type="ns0:responseDatosBiograficos" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultaDemograficos">
                <xsd:sequence>
                    <xsd:element name="tipoDoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numDoc" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consultaDemograficosResponse">
                <xsd:sequence>
                    <xsd:element name="Demograficos" type="ns0:responseDatosDemograficos" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="descripcionServiciosListado">
                <xsd:sequence>
                    <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="descripcionServiciosListadoResponse">
                <xsd:sequence>
                    <xsd:element name="descripcionServiciosListado" type="ns0:responseDescripcionList" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="resetPropiedades">
                <xsd:sequence>
                    <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="psw" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="resetPropiedadesResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="requestAdicionarServicios">
                <xsd:sequence>
                    <xsd:element name="canal" type="xsd:string"/>
                    <xsd:element name="cuenta" type="xsd:string"/>
                    <xsd:element name="itClass" type="xsd:string"/>
                    <xsd:element name="manClass" type="xsd:string"/>
                    <xsd:element name="serial" type="xsd:string"/>
                    <xsd:element name="servicio" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseAdicionarServicios">
                <xsd:sequence>
                    <xsd:element name="codigoError" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="mensajeError" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="r15min" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseProductosListado">
                <xsd:sequence>
                    <xsd:element name="errorService" type="ns0:errorService" minOccurs="0"/>
                    <xsd:element name="productosYServiciosLista" type="ns0:productosYServiciosLista" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="errorService">
                <xsd:sequence>
                    <xsd:element name="codError" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="msgError" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productosYServiciosLista">
                <xsd:sequence>
                    <xsd:element name="codigoError" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="listadoProductos" type="ns0:productosInventarios" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                    <xsd:element name="mensajeError" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productosInventarios">
                <xsd:sequence>
                    <xsd:element name="cantidadServicios" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cicloFacturacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cmf" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="descripcionTarifa" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="direccionPrincipal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fechaActivacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="listadoInventarios" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="inventarios" type="ns0:inventarios" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="serviciosAdicionales" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="serviciosDisponibles" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="serviciosPrincipales" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoRed" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoServicio" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ultimaFactura" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="inventarios">
                <xsd:sequence>
                    <xsd:element name="itemClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="manufactureClass" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="serial" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseProductosYServicios">
                <xsd:sequence>
                    <xsd:element name="errorService" type="ns0:errorService" minOccurs="0"/>
                    <xsd:element name="productosYServicios" type="ns0:productosYServicios" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productosYServicios">
                <xsd:sequence>
                    <xsd:element name="cantidadServicios" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cicloFacturacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cmf" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="codigoError" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="descripcionTarifa" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="direccionPrincipal" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="fechaActivacion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="listadoInventarios" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="inventarios" type="ns0:inventarios" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="mensajeError" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="serviciosAdicionales" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="serviciosDisponibles" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="serviciosPrincipales" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoRed" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoServicio" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ultimaFactura" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseDatosBiograficos">
                <xsd:sequence>
                    <xsd:element name="datosBiograficos" type="ns0:datosBiograficos" minOccurs="0"/>
                    <xsd:element name="errorService" type="ns0:errorService" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="datosBiograficos">
                <xsd:sequence>
                    <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="numDoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="segmentoCliente" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoDoc" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tipoSegmento" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseDatosDemograficos">
                <xsd:sequence>
                    <xsd:element name="datosDemograficos" type="ns0:datosDemograficos" minOccurs="0"/>
                    <xsd:element name="errorService" type="ns0:errorService" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="datosDemograficos">
                <xsd:sequence>
                    <xsd:element name="ciudad" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="telefono" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="responseDescripcionList">
                <xsd:sequence>
                    <xsd:element name="descripcionServicios" type="ns0:descripcion" minOccurs="0"/>
                    <xsd:element name="errorService" type="ns0:errorService" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="descripcion">
                <xsd:sequence>
                    <xsd:element name="codError" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="descAdicionales" type="ns0:descAdicionales" minOccurs="0"/>
                    <xsd:element name="descDisponibles" type="ns0:descDisponibles" minOccurs="0"/>
                    <xsd:element name="descPrincipales" type="ns0:descPrincipales" minOccurs="0"/>
                    <xsd:element name="mesError" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="descAdicionales">
                <xsd:sequence>
                    <xsd:element name="descripcionAdicionales" type="ns0:descripcionServicios" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="descripcionServicios">
                <xsd:sequence>
                    <xsd:element name="codigoServicio" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="descripcionServicio" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="descDisponibles">
                <xsd:sequence>
                    <xsd:element name="descripcionDisponibles" type="ns0:descripcionServicios" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="descPrincipales">
                <xsd:sequence>
                    <xsd:element name="descripcionPrincipales" type="ns0:descripcionServicios" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="adicionarServicio" type="ns0:adicionarServicio"/>
            <xsd:element name="adicionarServicioResponse" type="ns0:adicionarServicioResponse"/>
            <xsd:element name="consultaProductos" type="ns0:consultaProductos"/>
            <xsd:element name="consultaProductosListados" type="ns0:consultaProductosListados"/>
            <xsd:element name="consultaProductosListadosResponse" type="ns0:consultaProductosListadosResponse"/>
            <xsd:element name="consultaProductosResponse" type="ns0:consultaProductosResponse"/>
            <xsd:element name="consultaBiograficos" type="ns0:consultaBiograficos"/>
            <xsd:element name="consultaBiograficosResponse" type="ns0:consultaBiograficosResponse"/>
            <xsd:element name="consultaDemograficos" type="ns0:consultaDemograficos"/>
            <xsd:element name="consultaDemograficosResponse" type="ns0:consultaDemograficosResponse"/>
            <xsd:element name="descripcionServiciosListado" type="ns0:descripcionServiciosListado"/>
            <xsd:element name="descripcionServiciosListadoResponse" type="ns0:descripcionServiciosListadoResponse"/>
            <xsd:element name="resetPropiedades" type="ns0:resetPropiedades"/>
            <xsd:element name="resetPropiedadesResponse" type="ns0:resetPropiedadesResponse"/>    
        </xsd:schema>
    </types>
    <message name="resetPropiedades">
        <part element="tns:resetPropiedades" name="parameters"/>
    </message>
    <message name="resetPropiedadesResponse">
        <part element="tns:resetPropiedadesResponse" name="parameters"/>
    </message>
    <message name="consultaProductos">
        <part element="tns:consultaProductos" name="parameters"/>
    </message>
    <message name="consultaProductosResponse">
        <part element="tns:consultaProductosResponse" name="parameters"/>
    </message>
    <message name="consultaProductosListados">
        <part element="tns:consultaProductosListados" name="parameters"/>
    </message>
    <message name="consultaProductosListadosResponse">
        <part element="tns:consultaProductosListadosResponse" name="parameters"/>
    </message>
    <message name="descripcionServiciosListado">
        <part element="tns:descripcionServiciosListado" name="parameters"/>
    </message>
    <message name="descripcionServiciosListadoResponse">
        <part element="tns:descripcionServiciosListadoResponse" name="parameters"/>
    </message>
    <message name="adicionarServicio">
        <part element="tns:adicionarServicio" name="parameters"/>
    </message>
    <message name="adicionarServicioResponse">
        <part element="tns:adicionarServicioResponse" name="parameters"/>
    </message>
    <message name="consultaBiograficos">
        <part element="tns:consultaBiograficos" name="parameters"/>
    </message>
    <message name="consultaBiograficosResponse">
        <part element="tns:consultaBiograficosResponse" name="parameters"/>
    </message>
    <message name="consultaDemograficos">
        <part element="tns:consultaDemograficos" name="parameters"/>
    </message>
    <message name="consultaDemograficosResponse">
        <part element="tns:consultaDemograficosResponse" name="parameters"/>
    </message>
    <portType name="WsPerfilamientoCliente">
        <operation name="resetPropiedades">
            <input message="tns:resetPropiedades" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/resetPropiedadesRequest"/>
            <output message="tns:resetPropiedadesResponse" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/resetPropiedadesResponse"/>
        </operation>
        <operation name="consultaProductos">
            <input message="tns:consultaProductos" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/consultaProductosRequest"/>
            <output message="tns:consultaProductosResponse" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/consultaProductosResponse"/>
        </operation>
        <operation name="consultaProductosListados">
            <input message="tns:consultaProductosListados" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/consultaProductosListadosRequest"/>
            <output message="tns:consultaProductosListadosResponse" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/consultaProductosListadosResponse"/>
        </operation>
        <operation name="descripcionServiciosListado">
            <input message="tns:descripcionServiciosListado" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/descripcionServiciosListadoRequest"/>
            <output message="tns:descripcionServiciosListadoResponse" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/descripcionServiciosListadoResponse"/>
        </operation>
        <operation name="adicionarServicio">
            <input message="tns:adicionarServicio" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/adicionarServicioRequest"/>
            <output message="tns:adicionarServicioResponse" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/adicionarServicioResponse"/>
        </operation>
        <operation name="consultaBiograficos">
            <input message="tns:consultaBiograficos" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/consultaBiograficosRequest"/>
            <output message="tns:consultaBiograficosResponse" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/consultaBiograficosResponse"/>
        </operation>
        <operation name="consultaDemograficos">
            <input message="tns:consultaDemograficos" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/consultaDemograficosRequest"/>
            <output message="tns:consultaDemograficosResponse" wsam:Action="http://service.claro.com.co/WsPerfilamientoCliente/consultaDemograficosResponse"/>
        </operation>
    </portType>
    <binding name="WsPerfilamientoClientePortBinding" type="tns:WsPerfilamientoCliente">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="resetPropiedades">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultaProductos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultaProductosListados">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="descripcionServiciosListado">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="adicionarServicio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultaBiograficos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="consultaDemograficos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="wsPerfilamientoCliente">
        <port binding="tns:WsPerfilamientoClientePortBinding" name="WsPerfilamientoClientePort">
            <soap:address location="http://localhost:4000/wsdl3?wsdl"/>
        </port>
    </service>
</definitions>
